<extends src="layout/base-errors.html">
    <block name="title">Ошибка оплаты заказа - 220 Вольт </block>

    <block name="content">
        <div class="box-960">
            <div class="sl-offset-pt-30 sl-offset-pb-10 radius-top-5 bg-white sl-box-relative">
                <div class="sl-box-absolute sl-box-right-0 sl-box-top-0 sl-offset-mr-30 sl-offset-mt-30 sl-col-3">
                    <img src="img/sberbank.png" srcset="img/sberbank@2x.png 2x, img/sberbank@3x.png 3x" class="sl-v-top sl-offset-mb-10">
                    <p class="text-muted-dark text-small">Конфиденциальность сообщаемой персональной информации обеспечивается ОАО "Сбербанк России"</p>
                </div>
                <div class="sl-col-10 offset-mv-auto sl-offset-pv-20">
                    <div class="sl-col-10 offset-mv-auto">
                        <div class="text-center">
                            <img
                                src="img/logo.png"
                                srcset="img/logo@2x.png 2x, img/logo@3x.png 3x"
                                class="sl-v-top sl-offset-mb-30"
                                >
                            <div style="height: 270px;" class="box-flex flex-middle flex-center">
                                <h1 class="sl-offset-mb-20">Ошибка проведения платежа</h1>
                                <form action="#" method="post" id="errorForm" name="errorForm">
                                    <input type="hidden" id="language" value="ru" type="hidden" />
                                </form>
                                <div id="errorBlock" class="text-red"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sl-offset-ph-20 sl-offset-pv-40 radius-bottom-5 bg-silver-dark">
                <div class="sl-offset-pv-5 sl-clearfix">
                    <div class="sl-box-right box-flex flex-middle sl-clearfix">
                        <a href="http://usa.visa.com/personal/secure_with_visa/verified_by_visa.html" target="_blank">
                            <img src="img/bitmap.png" srcset="img/bitmap@2x.png 2x, img/bitmap@3x.png 3x" class="sl-v-top sl-offset-ml-20" />
                        </a>
                        <a href="http://www.mastercardbusiness.com/mcbiz/index.jsp?template=/orphans&content=securecodepopup" target="_blank">
                            <img src="img/bitmap-2.png" srcset="img/bitmap@2x-2.png 2x, img/bitmap@3x-2.png 3x" class="sl-v-top sl-offset-ml-20" />
                        </a>
                        <img src="img/sberbank-copy.png" srcset="img/sberbank-copy@2x.png 2x, img/sberbank-copy@3x.png 3x" class="sl-v-top sl-offset-ml-20">
                    </div>
                    <p class="sl-offset-mb-10"><img src="img/lock.png" srcset="img/lock@2x.png 2x, img/lock@3x.png 3x" class="sl-v-base sl-offset-mr-10">ПЛАТЕЖ <span class="text-strong">БЕЗОПАСЕН</span></p>
                    <p class="text-muted-dark text-small">Передача информации защищена 256-битным сертификатом SSL, подписанным компанией Thawte.</p>
                    <p class="text-muted-dark text-small">В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard Secure Code, для проведения платежа также может потребоваться ввод специального пароля. Способы и возможность получения паролей для совершения интернет-платежей Вы можете уточнить в банке, выпустившем карту.</p>
                    <p class="text-muted-dark text-small">Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ОАО "Сбербанк России". Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем Visa Int. и MasterCard Europe Sprl.</p>
                </div>
            </div>
        </div>

        <form id="acs" method="post" action="">
            <input type="hidden" id="MD" name="MD" />
            <input type="hidden" id="PaReq" name="PaReq" />
            <input type="hidden" id="TermUrl" name="TermUrl" />
        </form>
    </block>
</extends>
