<extends src="layout/base-mobile.html">
    <block name="title">Оплата заказа - 220 Вольт</block>

    <block name="content">
        <div>
            <div class="sl-offset-pb-10 bg-white">
                <div class="bg-yellow sl-offset-pb-10 box-flex flex-middle sl-offset-mb-25">
                    <div class="sl-box-inline sl-col-5">
                        <div class="sl-offset-p-10">
                            <img 
                                src="img/logo-mobile.png"
                                class="sl-v-top"
                                >
                        </div>
                    </div><div class="sl-box-inline sl-col-7">
                        <img src="img/sberbank-mobile.png" class="sl-v-top sl-offset-mb-5">    
                        <p class="text-muted-dark text-small"><span class="text-small"> Конфиденциальность обеспечивается ОАО "Сбербанк России"</span></p>
                    </div>
                </div>

                <div class="sl-offset-pv-20">
                    <h1 class="sl-offset-mb-20">Оплата банковской картой</h1>

                    <div class="sl-offset-mb-20 sl-offset-pb-15 divider-bottom divider-gray">
                        <div class="sl-offset-mb-10">
                            <p class="text-h3 text-muted sl-box-inline">Сумма платежа:</p>
                            <div class="text-h3 sl-box-inline text-strong" id="amount"></div>
                        </div>
                        <div class="sl-offset-mb-10">
                            <p class="text-h3 text-muted sl-box-inline">№ заказа:</p>
                            <div class="text-h3 sl-box-inline" id="orderNumber"></div>
                        </div>
                        <div class="sl-offset-mb-10">
                            <p class="text-h3 text-muted sl-box-inline">До конца сессии:</p>
                            <div class="text-h3 sl-box-inline" id="numberCountdown"></div>
                        </div>
                        <div id="errorBlock" class="text-red sl-offset-mt-10"></div>
                    </div>
                    <div>
                        <form name="PaymentForm" action="/" method="post" id="formPayment"> 
                            <input type="hidden" id="expiry" />
                            <input type="hidden" id="mdOrder" />
                            <input type="hidden" id="location" value="/../" />
                            <input type="hidden" id="language" value="ru" />

                            <div class="">
                                <div class="sl-offset-mb-15 box-flex flex-middle">
                                    <img src="img/visa.png" srcset="img/visa@2x.png 2x, img/visa@3x.png 3x" class="sl-v-top" />
                                    <img src="img/mastercard.png" srcset="img/mastercard@2x.png 2x, img/mastercard@3x.png 3x" class="sl-v-top sl-offset-ml-15" />
                                    <img src="img/maestro.png" srcset="img/maestro@2x.png 2x, img/maestro@3x.png 3x" class="sl-v-top sl-offset-ml-15" />
                                    <img src="img/mir-logo.png" srcset="img/mir-logo@2x.png 2x, img/mir-logo@3x.png 3x" class="sl-v-top sl-offset-ml-15" />
                                </div>
                                <div class="sl-offset-mb-15">
                                    <div class="sl-offset-mb-5">
                                        <label for="iPAN">Номер карты:</label>
                                    </div>
                                    <input 
                                        name="$PAN" 
                                        id="iPAN" 
                                        maxlength="19" 
                                        type="text" 
                                        autocomplete="off" 
                                        class="divider divider-gray sl-offset-p-10 sl-offset-m-0 sl-col-12"
                                        />
                                </div>
                                <div class="sl-offset-mb-15">
                                    <p class="text-uppercase sl-offset-mb-5">Valid THRU:</p>
                                    <select 
                                        name="MM" 
                                        id="month"
                                        class="divider divider-gray sl-offset-p-10 sl-offset-m-0 sl-col-5 bg-silver-gradient"
                                        >
                                            <option value="01" selected="selected"> 1 - январь</option>
                                            <option value="02"> 2 - февраль</option>
                                            <option value="03"> 3 - март</option>
                                            <option value="04"> 4 - апрель</option>
                                            <option value="05"> 5 - май</option>
                                            <option value="06"> 6 - июнь</option>
                                            <option value="07"> 7 - июль</option>
                                            <option value="08"> 8 - август</option>
                                            <option value="09"> 9 - сентябрь</option>
                                            <option value="10">10 - октябрь</option>
                                            <option value="11">11 - ноябрь</option>
                                            <option value="12">12 - декабрь</option>
                                    </select> /
                                    <select 
                                        name="YYYY" 
                                        id="year"
                                        class="divider divider-gray sl-offset-p-10 sl-offset-m-0 sl-col-4 bg-silver-gradient"
                                        >
                                        <option value='2010' selected="selected">2010</option>
                                        <option value='2011'>2011</option>
                                        <option value='2012'>2012</option>
                                        <option value='2013'>2013</option>
                                        <option value='2014'>2014</option>
                                        <option value='2015'>2015</option>
                                        <option value='2016'>2016</option>
                                        <option value='2017'>2017</option>
                                        <option value='2018'>2018</option>
                                        <option value='2019'>2019</option>
                                    </select>
                                </div>
                                <div class="sl-offset-mb-15">
                                    <div class="sl-offset-mb-5">
                                        <label for="iTEXT">Держатель карты (латинскими буквами):</label>
                                    </div>
                                    <input 
                                        name="TEXT" 
                                        id="iTEXT" 
                                        maxlength="90" 
                                        type="text" 
                                        autocomplete="off"
                                        class="divider divider-gray sl-offset-p-10 sl-offset-m-0 sl-col-12"
                                        />
                                </div>
                                <div class="sl-offset-mb-15">
                                    <div class="sl-offset-mb-5">
                                        <label for="">CVV2/CVC2 код</label>
                                    </div>
                                    <input 
                                        name="$CVC" 
                                        id="iCVC" 
                                        maxlength="4" 
                                        type="password" 
                                        autocomplete="off"
                                        class="divider divider-gray sl-offset-p-10 sl-offset-m-0 sl-col-3 sl-box-inline sl-v-middle"
                                        />
                                    <p class="sl-box-inline sl-v-middle">
                                        <span class="box-flex flex-middle text-small">
                                            <img src="img/ccv.png" alt="" class="sl-offset-mr-10" />
                                            <span class="sl-box-inline text-small text-muted">3 цирфы с оборотной <br> стороны карты</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="text-center">
                                <input 
                                    value="Оплатить" 
                                    type="button" 
                                    id="buttonPayment"
                                    class="text-h3 divider-yellow-dark divider-bottom cursor-pointer bg-yellow-gradient sl-box-inline sl-col-12 text-center sl-offset-ph-15 radius-3" 
                                    />
                            </div>
                        </form>
                        <div
                            id="indicator" 
                            class="text-center sl-offset-mt-10"
                            hidden
                            >
                                <img 
                                    src="/../../img/ajax-loader.gif" 
                                    height="19"
                                    width="220" 
                                    alt="indicator"
                                    />
                        </div>
                        <div class="text-left sl-offset-mt-10">
                            <div id="infoBlock"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sl-offset-p-20 bg-silver-dark">
                <p class="sl-offset-mb-10"><img src="img/lock.png" srcset="img/lock@2x.png 2x, img/lock@3x.png 3x" class="sl-v-base sl-offset-mr-10">ПЛАТЕЖ <span class="text-strong">БЕЗОПАСЕН</span></p>

                <div class="box-flex flex-middle sl-offset-mb-20">
                    <img src="img/sberbank-copy.png" srcset="img/sberbank-copy@2x.png 2x, img/sberbank-copy@3x.png 3x" class="sl-v-top">
                    <a href="http://usa.visa.com/personal/secure_with_visa/verified_by_visa.html" target="_blank">
                        <img src="img/bitmap.png" srcset="img/bitmap@2x.png 2x, img/bitmap@3x.png 3x" class="sl-v-top sl-offset-ml-20" />
                    </a>
                    <a href="http://www.mastercardbusiness.com/mcbiz/index.jsp?template=/orphans&content=securecodepopup" target="_blank">
                        <img src="img/bitmap-2.png" srcset="img/bitmap@2x-2.png 2x, img/bitmap@3x-2.png 3x" class="sl-v-top sl-offset-ml-20" />
                    </a>
                    
                </div>
                <p class="text-muted-dark text-small sl-offset-mb-20">Конфиденциальность сообщаемой персональной информации обеспечивается ОАО "Сбербанк России".</p>
                <p class="text-muted-dark text-small">Передача информации защищена 256-битным сертификатом SSL, подписанным компанией Thawte.</p>
                <p class="text-muted-dark text-small">В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard Secure Code, для проведения платежа также может потребоваться ввод специального пароля. Способы и возможность получения паролей для совершения интернет-платежей Вы можете уточнить в банке, выпустившем карту.</p>
                <p class="text-muted-dark text-small sl-offset-mb-25">Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ОАО "Сбербанк России". Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем Visa Int. и MasterCard Europe Sprl.</p>

                <p class="text-muted-dark text-small">&copy; 2002 &mdash; 2017 &laquo;220 Вольт&raquo;.</p>
                <p class="text-muted-dark text-small">Сеть магазинов электроинструмента</p>
            </div>
        </div>

        <form id="acs" method="post" action="">
            <input type="hidden" id="MD" name="MD" />
            <input type="hidden" id="PaReq" name="PaReq" />
            <input type="hidden" id="TermUrl" name="TermUrl" />
        </form>
    </block>
</extends>
