<extends src="layout/base.html">
    <block name="title">Оплата заказа - 220 Вольт</block>

    <block name="content">
        <div class="box-960">
            <div class="sl-offset-pt-30 sl-offset-pb-10 radius-top-5 bg-white sl-box-relative">
                <div class="sl-box-absolute sl-box-right-0 sl-box-top-0 sl-offset-mr-30 sl-offset-mt-30 sl-col-3">
                    <img src="img/sberbank.png" srcset="img/sberbank@2x.png 2x, img/sberbank@3x.png 3x" class="sl-v-top sl-offset-mb-10">
                    <p class="text-muted-dark text-small">Конфиденциальность сообщаемой персональной информации обеспечивается ОАО "Сбербанк России"</p>
                </div>
                <div class="sl-col-10 offset-mv-auto sl-offset-pv-20">
                    <div class="sl-col-10 offset-mv-auto">
                        <div class="text-center">
                            <img
                                src="img/logo.png"
                                srcset="img/logo@2x.png 2x, img/logo@3x.png 3x"
                                class="sl-v-top sl-offset-mb-30"
                                >
                            <h1 class="sl-offset-mb-20">Оплата заказа банковской картой</h1>
                        </div>
                        <div class="sl-offset-mb-30">
                            <div class="sl-box-inline">
                                <p class="text-h3 text-muted sl-box-inline">Сумма платежа:</p>
                                <div class="text-h3 sl-box-inline text-strong" id="amount"></div>
                            </div>
                            <div class="sl-box-inline sl-offset-ml-25">
                                <p class="text-h3 text-muted sl-box-inline">№ заказа:</p>
                                <div class="text-h3 sl-box-inline" id="orderNumber"></div>
                            </div>
                            <div class="sl-box-inline sl-offset-ml-25">
                                <p class="text-h3 text-muted sl-box-inline">До конца сессии:</p>
                                <div class="text-h3 sl-box-inline" id="numberCountdown"></div>
                            </div>
                            <div id="errorBlock" class="text-red sl-offset-mt-10"></div>
                        </div>
                        <div class="sl-box-relative text-right">
                            <form name="PaymentForm" action="/" method="post" id="formPayment">
                                <input type="hidden" id="expiry" />
                                <input type="hidden" id="mdOrder" />
                                <input type="hidden" id="location" value="/../" />
                                <input type="hidden" id="language" value="ru" />

                                <div class="bg-silver box-shadow sl-box-left-0 sl-box-top-0 sl-box-absolute z-index-1 sl-offset-pt-20 sl-offset-pb-25 sl-offset-pv-30 sl-offset-mb-20 radius-15 box-500 text-left">
                                    <div class="sl-offset-mb-15 box-flex flex-middle flex-right">
                                        <img src="img/visa.png" srcset="img/visa@2x.png 2x, img/visa@3x.png 3x" class="sl-v-top sl-offset-ml-15" />
                                        <img src="img/mastercard.png" srcset="img/mastercard@2x.png 2x, img/mastercard@3x.png 3x" class="sl-v-top sl-offset-ml-15" />
                                        <img src="img/maestro.png" srcset="img/maestro@2x.png 2x, img/maestro@3x.png 3x" class="sl-v-top sl-offset-ml-15" />
                                        <img src="img/mir-logo.png" srcset="img/mir-logo@2x.png 2x, img/mir-logo@3x.png 3x" class="sl-v-top sl-offset-ml-15" />
                                    </div>
                                    <div class="sl-offset-mb-15">
                                        <input
                                            name="$PAN"
                                            id="iPAN"
                                            maxlength="19"
                                            type="text"
                                            autocomplete="off"
                                            placeholder="Номер карты"
                                            class="text-h3 divider divider-gray sl-offset-p-10 sl-offset-m-0 sl-col-12 radius-3"
                                            />
                                    </div>
                                    <div class="sl-offset-mb-15">
                                        <p class="text-small text-uppercase">Valid THRU</p>
                                        <select
                                            name="MM"
                                            id="month"
                                            class="divider divider-gray sl-offset-p-10 sl-offset-m-0 sl-col-3 radius-3 bg-silver-gradient"
                                            >
                                                <option value="01" selected="selected"> 1 - январь</option>
                                                <option value="02"> 2 - февраль</option>
                                                <option value="03"> 3 - март</option>
                                                <option value="04"> 4 - апрель</option>
                                                <option value="05"> 5 - май</option>
                                                <option value="06"> 6 - июнь</option>
                                                <option value="07"> 7 - июль</option>
                                                <option value="08"> 8 - август</option>
                                                <option value="09"> 9 - сентябрь</option>
                                                <option value="10">10 - октябрь</option>
                                                <option value="11">11 - ноябрь</option>
                                                <option value="12">12 - декабрь</option>
                                        </select> /
                                        <select
                                            name="YYYY"
                                            id="year"
                                            class="divider divider-gray sl-offset-p-10 sl-offset-m-0 sl-col-2 radius-3 bg-silver-gradient"
                                            >
                                            <option value='2010' selected="selected">2010</option>
                                            <option value='2011'>2011</option>
                                            <option value='2012'>2012</option>
                                            <option value='2013'>2013</option>
                                            <option value='2014'>2014</option>
                                            <option value='2015'>2015</option>
                                            <option value='2016'>2016</option>
                                            <option value='2017'>2017</option>
                                            <option value='2018'>2018</option>
                                            <option value='2019'>2019</option>
                                        </select>
                                    </div>
                                    <div>
                                        <input
                                            name="TEXT"
                                            id="iTEXT"
                                            maxlength="90"
                                            type="text"
                                            autocomplete="off"
                                            placeholder="Держатель карты (латинскими буквами)"
                                            class="text-h3 divider divider-gray sl-offset-p-10 sl-offset-m-0 sl-col-12 radius-3"
                                            />
                                    </div>
                                </div>
                                <div class="sl-box-inline sl-box-relative z-index-0 bg-gray sl-offset-ph-30 sl-offset-mh-20 radius-15 box-500">
                                    <div class="bg-gray-dark sl-offset-mb-15" style="height: 65px;"></div>
                                    <div class="sl-offset-pv-30">
                                        <div class="sl-box-inline sl-col-3 sl-offset-pl-20 text-left">
                                            <div class="sl-offset-mb-5 text-small">CVV2/CVC2 код</div>
                                            <div class="sl-offset-mb-5">
                                                <input
                                                    name="$CVC"
                                                    id="iCVC"
                                                    maxlength="4"
                                                    type="password"
                                                    autocomplete="off"
                                                    class="text-h3 divider divider-gray sl-offset-p-10 sl-offset-m-0 sl-col-12 radius-3"
                                                    />
                                            </div>
                                            <p class="text-small text-gray">3 цирфы с оборотной стороны карты</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <input
                                        value="Оплатить"
                                        type="button"
                                        id="buttonPayment"
                                        class="text-h3 divider-yellow-dark divider-bottom cursor-pointer bg-yellow-gradient sl-box-inline sl-col-4 text-center sl-offset-ph-15 radius-3"
                                        />
                                </div>
                            </form>
                            <div
                                id="indicator"
                                class="text-center sl-offset-mt-20"
                                hidden
                                >
                                    <img
                                        src="/../../img/ajax-loader.gif"
                                        height="19"
                                        width="220"
                                        alt="indicator"
                                        />
                            </div>
                            <div class="text-left sl-offset-mt-20">
                                <div id="infoBlock"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sl-offset-ph-20 sl-offset-pv-40 radius-bottom-5 bg-silver-dark">
                <div class="sl-offset-pv-5 sl-clearfix">
                    <div class="sl-box-right box-flex flex-middle sl-clearfix">
                        <a href="http://usa.visa.com/personal/secure_with_visa/verified_by_visa.html" target="_blank">
                            <img src="img/bitmap.png" srcset="img/bitmap@2x.png 2x, img/bitmap@3x.png 3x" class="sl-v-top sl-offset-ml-20" />
                        </a>
                        <a href="http://www.mastercardbusiness.com/mcbiz/index.jsp?template=/orphans&content=securecodepopup" target="_blank">
                            <img src="img/bitmap-2.png" srcset="img/bitmap@2x-2.png 2x, img/bitmap@3x-2.png 3x" class="sl-v-top sl-offset-ml-20" />
                        </a>
                        <img src="img/sberbank-copy.png" srcset="img/sberbank-copy@2x.png 2x, img/sberbank-copy@3x.png 3x" class="sl-v-top sl-offset-ml-20">
                    </div>
                    <p class="sl-offset-mb-10"><img src="img/lock.png" srcset="img/lock@2x.png 2x, img/lock@3x.png 3x" class="sl-v-base sl-offset-mr-10">ПЛАТЕЖ <span class="text-strong">БЕЗОПАСЕН</span></p>
                    <p class="text-muted-dark text-small">Передача информации защищена 256-битным сертификатом SSL, подписанным компанией Thawte.</p>
                    <p class="text-muted-dark text-small">В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard Secure Code, для проведения платежа также может потребоваться ввод специального пароля. Способы и возможность получения паролей для совершения интернет-платежей Вы можете уточнить в банке, выпустившем карту.</p>
                    <p class="text-muted-dark text-small">Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ОАО "Сбербанк России". Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем Visa Int. и MasterCard Europe Sprl.</p>
                </div>
            </div>
        </div>

        <form id="acs" method="post" action="">
            <input type="hidden" id="MD" name="MD" />
            <input type="hidden" id="PaReq" name="PaReq" />
            <input type="hidden" id="TermUrl" name="TermUrl" />
        </form>
    </block>
</extends>
