:root {
  --ratio: 1.2;
  --base: 1;
  --base-em: calc(var(--base) * 1em);
  --base-px: calc(var(--base) * 13px);

  --ms-small: 0.85;
  --ms0: 1;
  --ms1: var(--ratio);                    /* 1.2   */
  --ms2: calc(var(--ratio) * var(--ms1)); /* 1.44  */
  --ms3: calc(var(--ratio) * var(--ms2)); /* 1.728 */
  --ms4: calc(var(--ratio) * var(--ms3)); /* 2.074 */
  --ms5: calc(var(--ratio) * var(--ms4)); /* 2.488 */
  --ms6: calc(var(--ratio) * var(--ms5)); /* 2.986 */
  --ms7: calc(var(--ratio) * var(--ms6)); /* 3.583 */
}

:root {
  --text-muted: #777;
  --text-muted-dark: #909090;
  --text-gray: #646464;
  --text-black: #000;
  --text-red: red;

  --bg-white: #fff;
  --bg-yellow: #fae47e;
  --bg-silver: #f5f5f5;
  --bg-sliver-dark: #f7f7f7;
  --bg-gray: #e2e2e2;
  --bg-gray-dark: #bfbfbf;

  --divider-gray: #dedede;
  --divider-yellow-dark: #e0c601;
}
