.bg-white {
	background-color: var(--bg-white);
}

.bg-yellow {
	background-color: var(--bg-yellow);
}

.bg-silver {
	background-color: var(--bg-silver);
}

.bg-silver-dark {
	background-color: var(--bg-sliver-dark);
}

.bg-gray {
	background-color: var(--bg-gray);
}

.bg-gray-dark {
	background-color: var(--bg-gray-dark);
}
.bg-silver-gradient {
	background-image: linear-gradient(#ffffff, #f1f1f1);	
}

.bg-yellow-gradient {
	background-image: linear-gradient(#fef04e, #f7dc18);
}