.box-960 {
	width: 960px;
}

.box-500 {
	width: 500px;
}

.box-shadow {
	box-shadow: 0 2px 4px 0 rgba(185, 185, 185, 0.5), inset 0 1px 3px 0 rgba(255, 255, 255, 0.5);
}

.box-flex {
	display: flex;
}

.flex-middle {
	align-items: center;
}

.flex-center {
	justify-content: center;
}

.flex-right {
	justify-content: end;
}