.divider {
	border-style: solid;
	border-width: 1px;
}

.divider-bottom {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.divider-gray {
	border-color: var(--divider-gray);
}

.divider-yellow-dark {
	border-color: var(--divider-yellow-dark);
}