.radius-3 {
	border-radius: 3px;
}

.radius-top-5 {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.radius-bottom-5 {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.radius-15 {
	border-radius: 15px;
}