.text-muted {
	color: var(--text-muted);
}

.text-muted-dark {
	color: var(--text-muted-dark);
}

.text-gray {
  color: var(--text-gray);
}

.text-red {
  color: var(--text-red);
}

.text-black {
	color: var(--text-black);
}

.text-strong {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-nobreak {
  white-space: nowrap;
}

.text-small {
  font-size: calc(var(--base-em) * var(--ms-small));
  line-height: calc(var(--base) * var(--ms2));
}

.text-uppercase {
  text-transform: uppercase;
}

.text-underline-none {
  text-decoration: none;
}
